.intro-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../Assets/images/ooty_origins_intro.gif') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.intro-text {
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Subtle shadow for text */
}

.sub-heading {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 20px;
}

.main-text {
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

.normal-text {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: italic;
}

.enter-button {
    background-color: #FFD700; 
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.enter-button:hover {
    background-color: #ffcc00; /* Slightly darker gold on hover */
    transform: translateY(-2px); /* Subtle hover effect */
}

.enter-button:focus {
    outline: none;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.social-icons a {
    color: white;
    font-size: 30px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #FFD700;
}
