/* Products Page Layout */
.product-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
   
}

.product-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

/* Filter Section */
.filter-section {
    width: 150px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 0.5px solid #861d1d;
    border-radius: 10px;
    height: 50%;

}

.filter-section h5{
    font-size: 2rem;
    font-weight: bold;
}

.filter-box {
    margin-bottom: 30px;
    border-radius: 50%; 
    transition: transform 0.1s ease;
    min-width: 30px;
}

.slider {
    width: 90%;
    margin: 10px 0;
    color: "#1976d2";
}

/* Product Grid Container */
.product-grid-container {
    flex: 3;
    padding-left: 20px;
}

/* Product Card */
.MuiGrid2-item {
    display: fixed;
    justify-content: center;
    align-items: stretch;
}

.Product {
    width: 30%;
    height: 40%;
    display: fixed;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #0f0e0e;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.product-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-grid-item .MuiCardMedia-root {
    height: 200px;
    object-fit: cover;
}

.product-grid-item .MuiCard-root {
    width: 100%;
    max-width: 300px;
    min-height: 350px;  /* Ensures consistent height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.Product:hover {
    transform: scale(1.05);
}

.Product img {
    max-width: 30%;
    border-radius: 10px;
    max-height: 40%;
}

.Product h2 {
    font-size: 1.0rem;
    font-weight: bold;
    margin: 10px 0;
}

.Product p {
    font-size: 1rem;
    color: #555;
}

button {
    margin: auto;
}