/* Styling for the address fields container */
.address-field {
    padding: 16px;
    text-align: left;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Typography styling */
  .address-field .MuiTypography-body2 {
    font-weight: bold;
    color: #030303;
    margin-bottom: 8px;
  }
  
  .address-field .MuiTypography-root {
    color: #070707;
    font-size: 16px;
  }
  
  /* Responsive grid adjustments */
  .MuiGrid-container {
    margin-top: 16px;
  }
  
  .MuiGrid-item {
    padding: 8px;
  }
  
  /* Add hover effect for paper elements */
  .address-field:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }

  .boxx{
    background-color:hsla(0,100%,50%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 95%),
  radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 95%),
  radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 95%),
  radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 95%),
  radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 95%),
  radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 95%),
  radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 95%);
  width: 100%;
  }
  