@import url('https://fonts.googleapis.com/css?family=Muli');
.product-card {
    box-shadow: 0 4px 20px rgba(134, 28, 28, 0.1);
    border-radius: 15px;
    overflow: hidden;
    display:flex;
    margin-top: 2rem;
    z-index: -2;
}

.box {
  background: rgb(87, 9, 9);
}

.product-image {
    object-fit: cover;
    max-height: 380px;
    max-width: 490px;
    border-radius: 100px 300px 300px 0;
    overflow: hidden;
    padding-top: 20px;
}

.title-name {
  text-align: right;
  margin-right: 15px;
  font-size: 50px;
  padding-top: 30px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Product Info */
h1, h2, h3, h4, h5 {
  font-family: 'Muli', sans-serif;
}

h1 {
  color: #ff6d39;
  font-weight: bold;
  font-size: 22px;
  margin-top: 21px;
  display: inline-block;
}

.product-name {
  font-weight: bold;
  color: #f5f2f2;
}

.product-description {
  color: #ffffff;
}

.product-price {
  color: #d3cd18;
}

.product-rating {
  color: #ff9800;
}

/* Buttons and Interaction */
.bg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 20px;
  transition: 0.3s all ease;
}



.foot {
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
 
}


/* Card Layout */
.card {
  display: flex;
  align-items: center;
  height: 800px;
  width: 700px;
  margin: 3% auto;
  box-shadow: 0px 15px 50px 10px rgb(198, 8, 8);
  border-radius: 15px;
  background-color: red;
  
}

.card .left {
  height: 395px;
  width: 400px;
  background-color: #ff6d39;
  border-radius: 0% 300% 300% 0%;
}

.card .right {
  height: 395px;
  width: 550px;
  background-color: rgb(2, 2, 2); 
  border-radius: 2% 0% 0% 40%;
}
